<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml"
	  xmlns:h = "http://java.sun.com/jsf/html">
   <h:head>
      <title>Coin </title>
   </h:head>

   <h:body>
      
      <h:form id="coinForm">
      
      <h1> Coin Dispense</h1>
      <h2> Change </h2>
      
      <div>
      <h:outputLabel value ="Amount due" />
      <h:inputText value = "#{coinBean.dueAmount}" id="dueAmount" requiredMessage="Enter amount due" required="true"/>
      <h:message for = "dueAmount" style = "color:red" />
       </div>
       <div> 
       <h:outputLabel value ="Total Amount" />
      <h:inputText value = "#{coinBean.totalAmount}" id="totalAmount" requiredMessage="Enter total amount" required="true"/>
      <h:message for="totalAmount" style="color:red"/> 
      </div>
      
      <h:commandButton value = "Calculate Change" action="#{coinBean.coinSubmitAction}" />
      
      <br/>
      <br/>
      
      <h3>Change due </h3>
      <div>
      	<h:outputText value="#{coinBean.change}"  />
      	 
      </div>
      
      </h:form>
   </h:body>
</html>