<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml"
	  xmlns:h = "http://java.sun.com/jsf/html">
   <h:head>
      <title>Coin </title>
   </h:head>

   <h:body>
      
      <h:form id="loginForm">
      
      <h1> </h1>
      <h2> Please Login </h2>
      
      <div>
      <h:outputLabel value ="Username" />
      <h:inputText value = "#{loginBean.username}" id="username" requiredMessage="Username is required" required="true"/>
      <h:message for = "username" style = "color:red" />
       </div>
       <div>
       <h:outputLabel value ="Password" /> 
      <h:inputSecret value = "#{loginBean.password}" id="password" requiredMessage="Password is required" required="true"/>
      <h:message for="password" style="color:red"/> 
      </div>
      
      <h:commandButton value = "Login" action="#{loginBean.loginAction}" />
      
      </h:form>
   </h:body>
</html>